#login-signup-section {
    background-color: linen;
}

.message-section, .event-section {
    max-width: 1140px;
}

.event-cards {
    background-color: linen;
}

.img-event-cards {
    height: 200px;
    object-fit: cover;
}

.event-list-cards {
    max-width: 1400px;
    background-color: linen;
}

.event-list {
    text-decoration: none;
    color: black;
}

.event-list-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}